@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Sans+Narrow:400,700|Cinzel);

/***
@import url(https://fonts.googleapis.com/css?family=Economica:400,700|Open+Sans+Condensed:300,300italic,700|Norican);
***/

body {
	background: #000;
}

h1 {
	color: #999;
	margin: 5px 10px;
}

.links {
	float: left;
	width: 180px;
	margin-left: 15px;

	font-family: 'PT Sans Narrow', sans-serif;
	font-size: .9em;
	line-height: 1.2;
}

.links li.header {
	color: rgb(238, 232, 199)
	font-weight: bold;
}

.links li.two {
	margin-top: 15px;
}

.links a {
	color: ivory;
	text-decoration: none;
}

.links a:hover, .links a:focus {
	color: blue;
}

#mediaContainer {
	float: left;
	margin: 0 auto;
}

#videoPort {}

#caption {
	height: 25px;
	width: 900px;
	margin-top: 25px;
	color: #666;
	font-family: verdana, arial, sans-serif;
	font-size: .7em;
}
